body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: #d32f2f; /* Red header */
  color: white;
  padding: 10px 20px;
}

header img.logo-header {
  height: 50px;
  margin-right: 20px;
}

h1, h2 {
  margin: 5px 0;
}

form {
  background-color: #ffe6e6;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

input, button {
  padding: 5px;
  margin: 5px 0;
}

button {
  background-color: #d32f2f;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #b71c1c;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
}

table, th, td {
  border: 1px solid #d32f2f;
}

th, td {
  padding: 10px;
  text-align: left;
}
